.s1 {
  position: relative;
  .connector {
    img {
      opacity: 0.3;
    }
    h2 {
      position: absolute;
      margin-top: 0px;
      margin-bottom: 0px;
      top: 390px;
      left: 181px;
      font-size: 44px;
    }
  }
  .connector:hover {
    img  {
      opacity: 1;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 390px;
      left: 185.5px;
      font-size: 40px;
      color: white;
      padding: 5px;
      background-color: black;
      height: 197px;
      width: 460px;
    }
  }
}
.s4 {
  position: relative;
  .connector {
    img {
      opacity: 1;
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 80px;
      left: 440px;
      z-index: 5;
    }
  }
  .connector:hover {
    img {
      opacity: 0.4;
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 80px;
      left: 433px;
      font-size: 22px;
      z-index: 5;
      color: black;
      background-color: inherit;
      height: 100px;
      width: 240px;
    }
  }
}
.s5 {
  position: relative;
  .connector {
    img {
      opacity: 0.3;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 165px;
      left: 212px;
      font-size: 44px;
    }
  }
  .connector:hover {
    img:hover {
      opacity: 1;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 165px;
      left: 188px;
      font-size: 40px;
      color: white;
      padding: 5px;
      background-color: black;
      height: 197px;
      width: 460px;
    }
  }
}
.s2 {
  position: relative;
  .connector {
    img {
      opacity: 1;
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 90px;
      left: -50px;
      height: 54px;
      width: 220px;
    }
  }
  .connector:hover {
    img {
      opacity: 0.4;
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 80px;
      left: -72px;
      font-size: 22px;
      z-index: 5;
      color: black;
      background-color: inherit;
      height: 54px;
      width: 260px;
    }
  }
}
.s3 {
  position: relative;
  .connector {
    img {
      opacity: 1;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 65px;
      left: 50px;
      font-size: 40px;
      color: white;
      padding: 5px;
      background-color: black;
      height: 242px;
      width: 460px;
    }
  }
  .connector:hover {
    img{
      opacity: 0.4;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 55px;
      left: 50px;
      font-size: 44px;
      color: black;
      background-color: inherit;
      height: 242px;
      width: 460px;
    }
  }
}