.s1 {
  position: relative;
  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  img:hover {
    opacity: 1;
  }
  h2 {
    margin-top: -155px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px;
    z-index: 5;
  }
}
.s4 {
  position: relative;
  img {
    opacity: 1;
  }
  img:hover {
    opacity: 0.4;
  }
  h3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: -155px;
    margin-bottom: 118px;
    font-size: 18px;
  }
}
.s5 {
  position: relative;
  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  img:hover {
    opacity: 1;
  }
  h2 {
    margin-top: -155px;
    margin-bottom: 86px;
    text-align: center;
    font-size: 20px;
  }
}
.s2 {
  position: relative;
  img {
    opacity: 1;
  }
  img:hover {
    opacity: 0.4;
  }
  h3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: -145px;
    margin-bottom: 118px;
    font-size: 18px;
  }
}
.s3 {
  position: relative;
  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  img:hover {
    opacity: 1;
  }
  h2 {
    margin-top: -155px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 20px;
  }
}