.title {
  text-align: center;
  margin-bottom: 35px;
  h1 {
    text-align: center;
    font-size: 31px;
  }
  .circle {
    display: block;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    background-color: $lightblue;
  }
}
.content {
  position: relative;
  .parallelogram { 
    position: absolute;
    top: 170px;
    width: 15%;
    height: 500px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -moz-transform: rotate(90deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: matrix(10.000, 1.020, 0.000, 2.098, 138.441, -46.000);
    background-color: $yellow;
    z-index: 1;
  }
}
.stories {
  position: absolute;
  margin-top: -145px;
  text-align: center;
  width: 100%;
  z-index: 2;
  .left-stories {
    .s1 {
      .numbers {
        position: absolute;
        top: 0;
        left: 82.4%;
        height: 45px;
        width: 45px;
        background-color: white;
        p {
          margin-top: 10px;
          font-family: $font;
          font-weight: 400;
          font-size: modular-scale(1);
        }
      }
    }
    .s4 {
      .numbers {
        position: absolute;
        top: 170px;
        left: 82.4%;
        height: 45px;
        width: 45px;
        background-color: white;
        p {
          margin-top: 10px;
          font-family: $font;
          font-weight: 400;
          font-size: modular-scale(1);
        }
      }
    }
    .s5 {
      .numbers {
        position: absolute;
        top: 340px;
        left: 82.4%;
        height: 45px;
        width: 45px;
        background-color: white;
        p {
          margin-top: 10px;
          font-family: $font;
          font-weight: 400;
          font-size: modular-scale(1);
        }
      }
    }
  }
  .right-stories {
    .s2 {
      .numbers {
        position: absolute;
        top: 510px;
        left: 82.4%;
        height: 45px;
        width: 45px;
        background-color: white;
        p {
          margin-top: 10px;
          font-family: $font;
          font-weight: 400;
          font-size: modular-scale(1);
        }
      }
    }
    .s3 {
      .numbers {
        position: absolute;
        top: 680px;
        left: 82.4%;
        height: 45px;
        width: 45px;
        background-color: white;
        p {
          margin-top: 10px;
          font-family: $font;
          font-weight: 400;
          font-size: modular-scale(1);
        }
      }
    }
  }
  img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.ad {
  text-align: center;
  img {
    width: 300px;
    height: 200px;
    margin: 20px;
  }
}