.title {
  text-align: center;
  margin-bottom: 35px;
  h1 {
    text-align: center;
    font-size: 31px;
  }
  .circle {
    display: block;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    background-color: $lightblue;
  }
}
.content {
  position: relative;
  .parallelogram { 
    position: absolute;
    top: 170px;
    width: 15%;
    height: 500px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -moz-transform: rotate(90deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: matrix(10.000, 1.020, 0.000, 2.098, 138.441, -46.000);
    background-color: $yellow;
    z-index: 1;
  }
}
.stories {
  position: absolute;
  margin-top: -145px;
  text-align: center;
  width: 100%;
  z-index: 2;
  .left-stories {
    .s1 {
      /*nb - fix absolute positioning, allow for movement of numbered-square*/
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0;
        margin-right:0;
        left: 72.6%;
        right: 40%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: 0px;
        height: 208px;
        width: 280px;
        background-color: white;
      }
      img {
        margin-right: auto;
        margin-left: auto;
        margin-top: -218px;
        margin-bottom: 92px;
        height: 208px;
        width: 280px;
      }
    }
    .s4 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 72.9%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: -70px;
        height: 208px;
        width: 280px;
        background-color: white;
      }
      img {
        margin-right: auto;
        margin-left: auto;
        margin-top: -218px;
        margin-bottom: 126px;
        height: 210px;
        width: 280px;
      }
    }
    .s5 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 72.9%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: -105px;
        height: 208px;
        width: 280px;
        background-color: white;
      }
      img {
        margin-right: auto;
        margin-left: auto;
        margin-top: -218px;
        margin-bottom: 94px;
        height: 210px;
        width: 280px;
      }
    }
  }
  .right-stories {
    .s2 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 72.9%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: -75px;
        height: 208px;
        width: 280px;
        background-color: white;
      }
      img {
        margin-right: auto;
        margin-left: auto;
        margin-top: -218px;
        margin-bottom: 90px;
        height: 210px;
        width: 280px;
      }
    }
    .s3 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 72.9%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: -67px;
        height: 208px;
        width: 280px;
        background-color: white;
      }
      img {
        margin-right: auto;
        margin-left: auto;
        margin-top: -218px;
        margin-bottom: 100px;
        height: 210px;
        width: 280px;
      }
    }
  }
  img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.ad {
  /*text-align: center;*/
  img {
    margin: 20px;
    margin-top: -70px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
  }
}