/*title and circle must move as one unit*/
.title {
  h1 {
    text-align: center;
    font-size: 51px;
    margin-top: 100px;
  }
  .circle {
    display: block;
    border-radius: 50%;
    width: 310px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -190px;
    background-color: $lightblue;
  }
}
/*content is yellow parallelogram
must be behind the stories(use z-index)*/
.content {
  position: relative;
  .parallelogram { 
    position: absolute;
    top: 125px;
    width: 16.63%;
    height: 500px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -moz-transform: rotate(90deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: matrix(10.000, 1.020, 0.000, 2.098, 138.441, -46.000);
    background-color: $yellow;
    z-index: 1;
  }
}
/*stories - width: 100%*/
/*1,4,5 on left - width 50%*/
/*2,3 on right - width 50%*/
/*ad inside stories and floated right with a white border*/
/*2 sizes for stories*/
.stories {
  width: 100%;
  position: relative;
  z-index: 2;
  .left-stories {
    position: absolute;
    width: 47%;
    float: left;
    margin-top: -275px;
    .s1 {
      .numbered-square {
        /*make numbered-square show white above the transparent image*/
        z-index: 4;
        position: absolute;
        top: 250px;
        left: 99.2%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: absolute;
        margin-left: 21%;
        margin-right: 0;
        margin-top: 249px;
        height: 510px;
        width: 560px;
        background-color: white;
      }
      img {
        position: absolute;
        margin-right: 0;
        margin-left: -29%;
        margin-top: 250px;
        height: 510px;
        width: 560px;
      }
    }
    .s4 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 99.2%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-left: 61.6%;
        margin-right: 0;
        margin-top: 782px;
        height: 210px;
        width: 295px;
        background-color: white;
      }
      img {
        position: absolute;
        margin-right: 0;
        margin-left: 11.6%;
        margin-top: -220px;
        height: 210px;
        width: 295px;
      }
    }
    .s5 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: -2px;
        left: 99.2%;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-left: 20.8%;
        margin-right: 0;
        margin-top: 26px;
        height: 510px;
        width: 560px;
        background-color: white;
      }
      img {
        position: absolute;
        margin-right: 0;
        margin-left: -29.2%;
        margin-top: -522px;
        height: 510px;
        width: 560px;
      }
    }
  }
  .right-stories {
    position: absolute;
    left: 51.6%;
    width: 50%;
    float: right;
    margin-top: -275px;
    .s2 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: 0px;
        right: 93.1%;
        left: 2.5px;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: static;
        margin-left: 0.5%;
        margin-right: 0;
        margin-top: 450px;
        height: 210px;
        width: 295px;
        background-color: white;
      }
      img {
        margin-right: 0px;
        margin-left: -56.2%;
        margin-top: -220px;
        height: 210px;
        width: 297px;
      }
    }
    .s3 {
      .numbered-square {
        z-index: 4;
        position: absolute;
        top: -65px;
        right: 93.1%;
        left: 2.5px;
        height: 50px;
        width: 50px;
        background-color: white;
      }
      .white {
        position: absolute;
        margin-left: 0.5%;
        margin-top: -65px;
        height: 510px;
        width: 560px;
        background-color: white;
      }
      img {
        position: absolute;
        margin-left: -49.5%;
        margin-top: -65px;
        height: 510px;
        width: 560px;
      }
    }
  }
  .ad {
    margin-left: 77.7%;
    img {
      margin-top: -100px;
      width: 300px;
      height: 250px;
      border:20px solid white;
    }
  }
}
