html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1 {
  margin-top: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%; }

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 44px; }

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  padding: 5px;
  background-color: black;
  height: 57px;
  width: 220px; }

p {
  margin-top: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: light;
  font-size: 30px; }

.title {
  text-align: center;
  margin-bottom: 35px; }
  .title h1 {
    text-align: center;
    font-size: 31px; }
  .title .circle {
    display: block;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    background-color: #c8d5dd; }

.content {
  position: relative; }
  .content .parallelogram {
    position: absolute;
    top: 170px;
    width: 15%;
    height: 500px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -moz-transform: rotate(90deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: matrix(10, 1.02, 0, 2.098, 138.441, -46);
    background-color: #fee900;
    z-index: 1; }

.stories {
  position: absolute;
  margin-top: -145px;
  text-align: center;
  width: 100%;
  z-index: 2; }
  .stories .left-stories .s1 {
    /*nb - fix absolute positioning, allow for movement of numbered-square*/ }
    .stories .left-stories .s1 .numbered-square {
      z-index: 4;
      position: absolute;
      top: 0;
      margin-right: 0;
      left: 72.4%;
      right: 40%;
      height: 50px;
      width: 50px;
      background-color: white; }
    .stories .left-stories .s1 .white {
      position: static;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
      margin-top: 0px;
      height: 208px;
      width: 280px;
      background-color: white; }
    .stories .left-stories .s1 img {
      margin-right: auto;
      margin-left: auto;
      margin-top: -218px;
      height: 208px;
      width: 280px; }
  .stories .left-stories .s4 .numbered-square {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 72.4%;
    height: 50px;
    width: 50px;
    background-color: white; }
  .stories .left-stories .s4 .white {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    height: 208px;
    width: 280px;
    background-color: white; }
  .stories .left-stories .s4 img {
    margin-right: auto;
    margin-left: auto;
    margin-top: -218px;
    height: 210px;
    width: 280px; }
  .stories .left-stories .s5 .numbered-square {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 72.4%;
    height: 50px;
    width: 50px;
    background-color: white; }
  .stories .left-stories .s5 .white {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    height: 208px;
    width: 280px;
    background-color: white; }
  .stories .left-stories .s5 img {
    margin-right: auto;
    margin-left: auto;
    margin-top: -218px;
    height: 210px;
    width: 280px; }
  .stories .right-stories .s2 .numbered-square {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 72.4%;
    height: 50px;
    width: 50px;
    background-color: white; }
  .stories .right-stories .s2 .white {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    height: 208px;
    width: 280px;
    background-color: white; }
  .stories .right-stories .s2 img {
    margin-right: auto;
    margin-left: auto;
    margin-top: -218px;
    height: 210px;
    width: 280px; }
  .stories .right-stories .s3 .numbered-square {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 72.4%;
    height: 50px;
    width: 50px;
    background-color: white; }
  .stories .right-stories .s3 .white {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    height: 208px;
    width: 280px;
    background-color: white; }
  .stories .right-stories .s3 img {
    margin-right: auto;
    margin-left: auto;
    margin-top: -218px;
    height: 210px;
    width: 280px; }
  .stories img {
    margin-right: 10px;
    margin-bottom: 10px; }

.ad {
  /*text-align: center;*/ }
  .ad img {
    margin: 20px;
    margin-left: 5px;
    width: 300px;
    height: 200px; }

.s1 {
  position: relative; }
  .s1 img {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .s1 img:hover {
    opacity: 1; }
  .s1 h2 {
    margin-top: -155px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px; }

.s4 {
  position: relative; }
  .s4 img {
    opacity: 1; }
  .s4 img:hover {
    opacity: 0.4; }
  .s4 h3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: -155px;
    margin-bottom: 118px;
    font-size: 18px; }

.s5 {
  position: relative; }
  .s5 img {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .s5 img:hover {
    opacity: 1; }
  .s5 h2 {
    margin-top: -155px;
    margin-bottom: 86px;
    text-align: center;
    font-size: 20px; }

.s2 {
  position: relative; }
  .s2 img {
    opacity: 1; }
  .s2 img:hover {
    opacity: 0.4; }
  .s2 h3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: -145px;
    margin-bottom: 118px;
    font-size: 18px; }

.s3 {
  position: relative; }
  .s3 img {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .s3 img:hover {
    opacity: 1; }
  .s3 h2 {
    margin-top: -155px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 20px; }

@media screen and (min-width: 750px) {
  /*title and circle must move as one unit*/
  .title h1 {
    text-align: center;
    font-size: 51px;
    margin-top: 100px; }
  .title .circle {
    display: block;
    border-radius: 50%;
    width: 310px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -190px;
    background-color: #c8d5dd; }

  /*content is yellow parallelogram
  must be behind the stories(use z-index)*/
  .content {
    position: relative; }
    .content .parallelogram {
      position: absolute;
      top: 125px;
      width: 16.59%;
      height: 500px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -moz-transform: rotate(90deg);
      -o-transform: skew(20deg);
      -ms-transform: skew(20deg);
      transform: matrix(10, 1.02, 0, 2.098, 138.441, -46);
      background-color: #fee900;
      z-index: 1; }

  /*stories - width: 100%*/
  /*1,4,5 on left - width 50%*/
  /*2,3 on right - width 50%*/
  /*ad inside stories and floated right with a white border*/
  /*2 sizes for stories*/
  .stories {
    width: 100%;
    position: relative;
    z-index: 2; }
    .stories .left-stories {
      position: absolute;
      width: 50%;
      float: left;
      margin-top: -275px; }
      .stories .left-stories .s1 .numbered-square {
        /*make numbered-square show white above the transparent image*/
        z-index: 4;
        position: absolute;
        top: 250px;
        left: 92.65%;
        height: 50px;
        width: 50px;
        background-color: white; }
      .stories .left-stories .s1 .white {
        position: absolute;
        margin-left: 21%;
        margin-top: 250px;
        height: 510px;
        width: 560px;
        background-color: white; }
      .stories .left-stories .s1 img {
        margin-left: 21%;
        margin-top: 250px;
        height: 510px;
        width: 560px; }
      .stories .left-stories .s4 .numbered-square {
        z-index: 4;
        position: absolute;
        top: 10px;
        left: 93.09%;
        height: 50px;
        width: 50px;
        background-color: white; }
      .stories .left-stories .s4 img {
        margin-left: 58.5%;
        margin-top: 10px;
        height: 210px;
        width: 295px; }
      .stories .left-stories .s5 .numbered-square {
        z-index: 4;
        position: absolute;
        top: 10px;
        left: 92.8%;
        height: 50px;
        width: 50px;
        background-color: white; }
      .stories .left-stories .s5 .white {
        position: absolute;
        margin-left: 21%;
        margin-top: 10px;
        height: 510px;
        width: 560px;
        background-color: white; }
      .stories .left-stories .s5 img {
        margin-left: 21%;
        margin-top: 10px;
        height: 510px;
        width: 560px; }
    .stories .right-stories {
      position: absolute;
      left: 51%;
      width: 50%;
      float: right;
      margin-top: -275px; }
      .stories .right-stories .s2 .numbered-square {
        z-index: 4;
        position: absolute;
        top: 449px;
        right: 93.1%;
        left: 3;
        height: 50px;
        width: 50px;
        background-color: white; }
      .stories .right-stories .s2 img {
        margin-left: -56%;
        margin-top: 450px;
        height: 210px;
        width: 295px; }
      .stories .right-stories .s3 .numbered-square {
        z-index: 4;
        position: absolute;
        top: 10px;
        right: 93.1%;
        left: 2.5px;
        height: 50px;
        width: 50px;
        background-color: white; }
      .stories .right-stories .s3 .white {
        position: absolute;
        margin-left: 0.5%;
        margin-top: 10px;
        height: 510px;
        width: 560px;
        background-color: white; }
      .stories .right-stories .s3 img {
        position: absolute;
        margin-left: -49.5%;
        margin-top: 10px;
        height: 510px;
        width: 560px; }
    .stories .ad {
      float: right; }
      .stories .ad img {
        position: absolute;
        float: right;
        top: -120px;
        left: 1071px;
        width: 340px;
        height: 240px;
        border: 20px solid white; }

  .s1 {
    position: relative; }
    .s1 img {
      opacity: 0.4; }
    .s1 img:hover {
      opacity: 1; }
    .s1 h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 390px;
      left: 195px;
      font-size: 44px; }

  .s4 {
    position: relative; }
    .s4 img {
      opacity: 1; }
    .s4 img:hover {
      opacity: 0.4; }
    .s4 h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 80px;
      left: 465px; }

  .s5 {
    position: relative; }
    .s5 img {
      opacity: 0.4;
      filter: alpha(opacity=40); }
    .s5 img:hover {
      opacity: 1; }
    .s5 h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 165px;
      left: 220px;
      font-size: 44px; }

  .s2 {
    position: relative; }
    .s2 img {
      opacity: 0.4;
      filter: alpha(opacity=40); }
    .s2 img:hover {
      opacity: 1; }
    .s2 h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 530px;
      left: 50px;
      height: 78px;
      width: 200px; }

  .s3 {
    position: relative; }
    .s3 img {
      opacity: 0.4;
      filter: alpha(opacity=40); }
    .s3 img:hover {
      opacity: 1; }
    .s3 h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 185px;
      left: 3px;
      font-size: 44px; } }

/*# sourceMappingURL=style.css.map */
